#boardTable {
  tr {
    cursor: pointer;

    &:hover {
      background-color: #e4e4e4;
    }
  }
}

#boardPagination {
  a.page {
    border: 1px solid $color-light-gray;
    text-decoration: none;

    &.active {
      background-color: $color-blue;
      color: white;
    }
  }
}
