html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Flex */
.row-flex {
  display: flex;
  flex-direction: row;
}
.col-flex {
  display: flex;
  flex-direction: column;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.jc-space-between {
  justify-content: space-between;
}
.jc-space-evenly {
  justify-content: space-evenly;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}
.ai-stretch {
  align-items: stretch;
}

/* Spacing */
.ma {
  @include squence-small(margin, 'rem');
  @include squence(margin, 'rem');
}
.mx,
.ml {
  @include squence-small(margin-left, 'rem');
  @include squence(margin-left, 'rem');
}
.mx,
.mr {
  @include squence-small(margin-right, 'rem');
  @include squence(margin-right, 'rem');
}
.my,
.mt {
  @include squence-small(margin-top, 'rem');
  @include squence(margin-top, 'rem');
}
.my,
.mb {
  @include squence-small(margin-bottom, 'rem');
  @include squence(margin-bottom, 'rem');
}
.pa {
  @include squence-small(padding, 'rem');
  @include squence(padding, 'rem');
}
.px,
.pl {
  @include squence-small(padding-left, 'rem');
  @include squence(padding-left, 'rem');
}
.px,
.pr {
  @include squence-small(padding-right, 'rem');
  @include squence(padding-right, 'rem');
}
.py,
.pt {
  @include squence-small(padding-top, 'rem');
  @include squence(padding-top, 'rem');
}
.py,
.pb {
  @include squence-small(padding-bottom, 'rem');
  @include squence(padding-bottom, 'rem');
}
