html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
/* HTML Default */
h1,
h2,
h3 {
  margin: 0;
}
h1,
.h1 {
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 1.5rem;
}
h3,
.h3 {
  font-size: 1.2rem;
}

/* Colors */
.bg {
  @include colors(background-color);
}
.fc {
  @include colors(color);
}

/* Display */
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inlineb {
  display: inline-block;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.pos-fixed {
  position: fixed;
}

/* Flex */
.row-flex {
  display: flex;
  flex-direction: row;
}
.col-flex {
  display: flex;
  flex-direction: column;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.jc-space-between {
  justify-content: space-between;
}
.jc-space-evenly {
  justify-content: space-evenly;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}
.ai-stretch {
  align-items: stretch;
}
.flex {
  @include squence(flex, '');
}

/* Spacing */
.ma {
  @include squence-small(margin, 'rem');
  @include squence(margin, 'rem');
}
.mx,
.ml {
  @include squence-small(margin-left, 'rem');
  @include squence(margin-left, 'rem');
}
.mx,
.mr {
  @include squence-small(margin-right, 'rem');
  @include squence(margin-right, 'rem');
}
.my,
.mt {
  @include squence-small(margin-top, 'rem');
  @include squence(margin-top, 'rem');
}
.my,
.mb {
  @include squence-small(margin-bottom, 'rem');
  @include squence(margin-bottom, 'rem');
}
.pa {
  @include squence-small(padding, 'rem');
  @include squence(padding, 'rem');
}
.px,
.pl {
  @include squence-small(padding-left, 'rem');
  @include squence(padding-left, 'rem');
}
.px,
.pr {
  @include squence-small(padding-right, 'rem');
  @include squence(padding-right, 'rem');
}
.py,
.pt {
  @include squence-small(padding-top, 'rem');
  @include squence(padding-top, 'rem');
}
.py,
.pb {
  @include squence-small(padding-bottom, 'rem');
  @include squence(padding-bottom, 'rem');
}

/* Components Layout */
.contentWrapper {
  padding: 1.5rem;
}
input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'] {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid $color-gray;
}
.brd {
  &-01 {
    border: {
      radius: 5px;
      width: 1px;
      style: solid;
    }
    @include colors(border-color);
  }
}
.btn {
  border-radius: 5px;
  border: 1px solid $color-blue;
  background-color: $color-blue;
  color: $color-white;
  padding: 0.5rem 1rem;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: darken($color-blue, 20);
  }
}
